pkgbase = my-documents-viewer
	pkgdesc = Native wxWidgets desktop viewer for indexing local text files and searching/chatting with them via full-text, vector or hybrid search
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/cancerberoSgx/desktop-app-samples
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-wxpython
	depends = python-fastembed
	depends = python-sqlite-vec
	provides = mydocumentsviewer
	conflicts = my-documents-viewer-git
	conflicts = mydocumentsviewer
	source = my-documents-viewer::git+https://github.com/cancerberoSgx/desktop-app-samples.git#tag=my-documents-viewer-v1.0.0
	sha256sums = SKIP

pkgname = my-documents-viewer
