pkgbase = my-redis-viewer
	pkgdesc = Native wxWidgets desktop app for managing and testing Redis connection profiles
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/cancerberoSgx/desktop-app-samples
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-wxpython
	depends = python-redis
	provides = myredisviewer
	conflicts = my-redis-viewer-git
	conflicts = myredisviewer
	source = my-redis-viewer::git+https://github.com/cancerberoSgx/desktop-app-samples.git#tag=my-redis-viewer-v1.0.0
	sha256sums = SKIP

pkgname = my-redis-viewer
