pkgbase = my-disk-viewer
	pkgdesc = Native wxWidgets desktop viewer for recursive disk usage - see which subfolders and file types are eating the most space
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/cancerberoSgx/desktop-app-samples
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-wxpython
	provides = mydiskviewer
	conflicts = my-disk-viewer-git
	conflicts = mydiskviewer
	source = my-disk-viewer::git+https://github.com/cancerberoSgx/desktop-app-samples.git#tag=my-disk-viewer-v1.0.0
	sha256sums = SKIP

pkgname = my-disk-viewer
